/* @import url(https://db.onlinewebfonts.com/c/23a02e8af5ef33a9b496dd524401550f?family=YS+Text+Regular+Regular); */

body {
    margin: 0 auto;
    font-family: "YS Text", Arial, Helvetica, sans-serif;
    color: rgba(33, 32, 31, 1);
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    background: linear-gradient(90deg, #FF5C4D38 0%, #EB469F38 25%, #8341EF38 72%, #3F68F938 100%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    background-repeat: no-repeat;
    background-size: inherit;
}

.header__container {
    margin: 0 260px;
    padding: 126px 0 0;
    height: 618px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header__content {
    margin: 0;
    padding: 0;
    width: 420px;
    position: relative;
}

.header__block-image {
    margin: 0;
    padding: 0;
}

.header__velo {
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    margin: -79px 0 0 -92px;
    padding: 0;
}

.header__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    max-width: 375px;
    margin: 55px 0 0;
    padding: 0;
}

.header__text {
    margin: 30px 0 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
}

.header__images {
    margin: 0;
    padding: 0;
}

.header__place2 {
    margin: 0;
    padding: 0;
}

.header__button {
    margin: 25px 0 0;
    padding: 0;
    background: rgba(255, 222, 64, 1);
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
    width: 318px;
    height: 65px;
    border-radius: 36px;
    border: none;
    font-family: YS Text;
    font-size: 24px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.header__image {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 207px;
    height: 204px;
    left: 770px;
    bottom: 393px;
}


.page {
    margin: 0 262px;
    padding: 0;
}

.klub {
    margin: 0;
    padding: 0;
}

.klub__container {
    margin: 55px 0 0;
    padding: 0;
}

.klub__title {
    margin: 0;
    padding: 0;
    font-size: 56px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: left;
    max-width: 650px;
}

.klub__lists {
    margin: 40px 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 30px;
}

.klub__list {
    margin: 0;
    padding: 0;
}

.klub__link-image {
    margin: 0;
    padding: 0;
}

.klub__text {
    margin: 11px 0 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
}

.access {
    margin: 0;
    padding: 120px 0 0;
}

.access__container {
    margin: 0;
    padding: 0;
}

.access__content {
    margin: 0;
    padding: 0;
}

.access__title {
    margin: 0 0 38px;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
}

.access__text {
    width: 442px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;

}

.access__image-block {
    margin: 63px 0 0 -13px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2px;
    column-gap: 15px;
    position: relative;
}

.access__image {
    margin: 0;
    padding: 0;
    max-width: 471px;
    min-height: 471px;
    object-fit: contain;
}

.access__image img {
    transform: rotate(-2deg);
}

.access__image_icon {
    display: flex;
}

.access__image_one {
    margin-top: -210px;
}

.access__image {
    margin-left: -17px;
}

.access__image_four {
    margin-top: -210px;
    margin-left: -16px;
}

.access__icon {
    margin: 0;
    padding: 0;
    position: absolute;
}

.access__icon1 {
    width: 320px;
    height: 320px;
    object-fit: none;
    position: absolute;
    top: 3px;
    left: -148px;
    z-index: 1;
}

.access__icon2 {
    position: absolute;
    top: -296px;
    right: -133px;
}

.access__icon3 {
    position: absolute;
    right: -94px;
    bottom: 94px;
}

.access__buttons {
    display: none;
}

.purchase {
    margin: 0;
    padding: 0;
}

.purchase__container {
    margin: 0;
    padding: 98px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 31px;
    row-gap: 112px;
}

.purchase__block {
    margin: 0;
    padding: 0;
    min-height: 436px;
}

.purchase__content {
    margin: 0;
    padding: 0;
    width: 419px;
}

.purchase__title {
    margin: 0;
    padding: 0;
}

.purchase__text {
    margin: 0;
    padding: 0;
}

.purchase__image {
    margin: 3px -206px -78px;
    padding: 0;
    object-fit: contain;
    transform: rotate(-13deg);
    max-width: 352px;
    min-height: 344px;
    z-index: -1;
    position: sticky;
}

.purchase__image-soobchestvo {
    margin: -63px 0 0 -123px;
    padding: 0;
}

.purchase__button {
    margin: 40px 0 0;
    padding: 0;
    width: 281px;
    height: 65px;
    border-radius: 36px;
    gap: 4px;
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
    background: rgba(255, 222, 64, 1);
    color: rgba(33, 32, 31, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin: 0 262px;
    padding: 104px 0 0;
}

.footer__container {
    margin: 0;
    padding: 0;
}

.footer__text {
    margin: 0;
    padding: 0 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(197, 197, 197, 1);
}

.footer__link {
    margin: 0;
    padding: 0;
    color: rgba(197, 197, 197, 1);
}

@media screen and (max-width: 1330px) {


    .header__container {
        padding-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .header__content {
        margin: 0;
        padding: 0;
        width: 311px;
    }

    .header__image {
        width: 207px;
        height: 207px;
        position: absolute;
        left: 484px;
        bottom: 294px;
    }

    .page {
        margin-left: 40px;
        margin-right: 40px;
    }

    .access__image-block {
        justify-content: center;
    }

    .access__image {
        width: 100%;
    }



    .access__icon2 {
        position: absolute;
        top: -270px;
        right: 34px;
    }

    .access__icon3 {
        position: absolute;
        right: 103px;
        bottom: 94px;
    }

    .footer {
        margin-left: 40px;
        margin-right: 40px;
    }

}

@media screen and (max-width: 1033px) {
    .header {
        height: 936px;
        background-position-x: 0;
        background-size: contain;
    }

    .header__container {
        flex-direction: column;
    }

    .header__logo {
        width: 112px;
        height: 32px;
    }

    .header__content {
        width: 100%;
    }


    .header__title {
        font-size: 36px;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: -0.02em;
        text-align: left;
    }


    .header__text {
        font-size: 18px;
        line-height: 23px;
        width: 100%;
    }

    .header__image {
        width: 207px;
        height: 207px;
        position: absolute;
        left: 225px;
        bottom: 64px;
    }


    .header__velo {
        margin-top: 0;
        margin-left: -19px;
        width: 319px;
        height: 265px;
    }

    .klub__title {
        font-size: 32px;
        line-height: 32px;
        width: 100%;
    }

    .klub__text {
        font-size: 16px;
        line-height: 19px;
    }

    .access__image-block {
        grid-template-columns: none;
    }

    .access__title {
        font-size: 32px;
        line-height: 32px;
    }

    .access__text {
        font-size: 16px;
        line-height: 19px;
        width: 100%;
    }

    .access__image_one {
        margin-top: 0;
    }

    .access__image_four {
        margin-top: 0;
        margin-left: 0;
    }

    .access__icon1 {
        display: none;
    }

    .access__icon2 {
        top: -54px;
        right: 17px;
    }

    .access__icon3 {
        display: none;
    }

    .access__image-block {
        counter-reset: slide;
    }

    .access__image_icon {
        display: flex;
        width: 355px;
        counter-increment: slide;
    }


    .access__image_icon::before {
        content: counter(slide) "/4";
        display: block;
    }


    .access__buttons {
        display: flex;
        justify-content: center;
        margin: -46px 0 0 11px;
        position: relative;
    }

    .access__button {
        width: 48px;
        height: 48px;
        border: none;
        background-image: url(./images/right.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
    }

    /*
    .access__button:hover {
        cursor: pointer;
        opacity: 0.5;
    }
    */

    .access__button_disabled {
        opacity: 0.5;
    }

    .access__left {
        transform: rotate(180deg);
        margin-right: 10px;
    }

    .purchase__container {
        padding-top: 72px;
        grid-template-columns: none;
        column-gap: 0;
        row-gap: 0;
        justify-content: center;
    }

    .purchase__content_disable {
        display: none;
    }

    .purchase__content {
        width: 100%;
    }

    .purchase__image-soobchestvo {
        height: 304px;
        margin: 0px 0 0 37px;
        padding: 0;
        width: 300px;
    }

}

@media screen and (max-width: 450px) {
    .header {
        height: 580px;
        width: 100%;
        background-size: contain;
    }

    .header__container {
        height: 580px;
        padding-top: 32px;
        margin-left: 32px;
        margin-right: 32px;
    }

    .header__title {
        margin-top: 24px;
        max-width: 250px;
    }

    .header__text {
        margin-top: 25px;
    }

    .header__image {
        width: 84px;
        height: 84px;
        left: 106px;
        bottom: 172px;
    }

    .header__button {
        position: fixed;
    }


    .page {
        margin-left: 32px;
        margin-right: 32px;
    }

    .klub__lists {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 27px;
        row-gap: 2px;
    }

    .klub__list {
        display: flex;
    }

    .klub__text {
        margin-left: 18px;
        margin-top: 24px;
    }

    .klub__link-image {
        margin-left: 12px;
        width: 69px;
        height: 83px;
    }

    .klub__link-image_one {
        margin-top: 32px;
        margin-left: 0;
        margin-right: 12px;
    }

    .klub__link-image_two {
        margin-top: 17px;
        margin-left: 7px;
        margin-right: 5px;
    }

    .klub__link-image_tree {
        margin-left: 10px;
        margin-top: 31px;
    }

    .access {
        padding-top: 68px;
    }

    .access__title {
        margin-bottom: 24px;
    }

    .access__icon2 {
        top: 30px;
        right: -41px;
        width: 132px;
        height: 102px;
    }

    .access__image-block {}

    .access__edit-image {
        margin-left: 12px;
        margin-top: 15px;
    }


    .purchase__container {
        justify-content: normal;
        padding-top: 67px;
    }

    .purchase__content {
        max-width: 302px;
    }

    .purchase__image-soobchestvo {
        margin-left: 0;
        height: 363px;
        width: 354px;
    }

    .purchase__button {
        margin-top: 28px;
        width: 311px;
        height: 49px;
        font-size: 19px;
    }

    .footer {
        margin-left: 32px;
        margin-right: 32px;
        padding-top: 72px;
        font-size: 10px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0px;
        text-align: left;

    }

    .slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .slider {
        overflow: hidden;
        position: relative;
    }

    .slides {
        display: flex;
        overflow-x: hidden;
        position: relative;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        overflow-y: hidden;
    }

    .slides::-webkit-scrollbar {
        display: none;
    }

    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: center;
        margin: 0 30px 0 30px;
    }

    .slide img:last-child {
        display: none;
    }

    .slide img:first-child {
        width: 300px;
        transform: rotate(-2deg);
    }

    .slider__navlink {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: black;
        margin: 0 10px 0 10px;
    }


}