@import url(https://db.onlinewebfonts.com/c/23a02e8af5ef33a9b496dd524401550f?family=YS+Text+Regular+Regular);

body {
    margin: 0 auto;
    font-family: "YS Text", Arial, Helvetica, sans-serif;
    color: rgba(33, 32, 31, 1);
    ;
}

.header {
    background: linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));

    opacity: 22%;
    z-index: -1;
    background-image: url(./images/velo.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position-x: 540px;
    background-position-y: 45px;
}

.header__container {
    margin: 0 260px;
    padding: 126px 0 0;
    height: 618px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header__content {
    margin: 0;
    padding: 0;
    max-width: 420px;

}

.header__velo {
    background-repeat: no-repeat;
    background-size: cover;
}

.header__title {
    font-family: "YS Text Regular Regular", Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    max-width: 375px;
    margin: 55px 0 0;
    padding: 0;
}

.header__text {
    margin: 30px 0 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
}

.header__images {
    margin: 0;
    padding: 0;
}

.header__place2 {
    margin: 0;
    padding: 0;
}

.header__button {
    margin: 25px 0 0;
    padding: 0;
    background: rgba(255, 222, 64, 1);
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
    width: 318px;
    height: 65px;
    border-radius: 36px;
    border: none;
    font-family: YS Text;
    font-size: 24px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.header__image {
    margin: 270px 200px 0 0;
    padding: 0;
    width: 207px;
    height: 207px;
}


.page {
    margin: 0 262px;
    padding: 0;
}

.klub {
    margin: 0;
    padding: 0;
}

.klub__container {
    margin: 55px 0 0;
    padding: 0;
}

.klub__title {
    margin: 0;
    padding: 0;
    font-size: 56px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: left;
    max-width: 650px;
}

.klub__lists {
    margin: 40px 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 30px;
}

.klub__list {
    margin: 0;
    padding: 0;
}

.klub__link-image {
    margin: 0;
    padding: 0;
}

.klub__text {
    margin: 11px 0 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
}

.access {
    margin: 0;
    padding: 120px 0 0;
}

.access__container {
    margin: 0;
    padding: 0;
}

.access__content {
    margin: 0;
    padding: 0;
}

.access__title {
    margin: 0 0 38px;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
}

.access__text {
    max-width: 442px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;

}

.access__image-block {
    margin: 63px 0 0 -13px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 7px;
    column-gap: 15px;
    position: relative;
}

.access__image {
    margin: 0;
    padding: 0;
    max-width: 471px;
    min-height: 471px;
}

.access__image:nth-child(2) {
    margin-top: -210px;
}

.access__image:nth-child(3) {
    margin-left: -17px;
}

.access__image:nth-child(4) {
    margin-top: -210px;
    margin-left: -16px;
}

.access__icon {
    margin: 0;
    padding: 0;
    position: absolute;
}

.access__icon1 {
    width: 320px;
    height: 320px;
    margin-left: -146px;
    object-fit: none;
    margin-top: 3px;
}

.access__icon2 {
    margin-left: 812px;
    margin-top: -297px;
}

.access__icon3 {
    margin-left: 588px;
    margin-top: 410px;
}

.purchase {
    margin: 0;
    padding: 0;
}

.purchase__container {
    margin: 0;
    padding: 98px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 31px;
    row-gap: 112px;
}

.purchase__block {
    margin: 0;
    padding: 0;
    min-height: 436px;
}

.purchase__content {
    margin: 0;
    padding: 0;
    max-width: 419px;
}

.purchase__title {
    margin: 0;
    padding: 0;
}

.purchase__text {
    margin: 0;
    padding: 0;
}

.purchase__image {
    margin: 3px -206px -78px;
    padding: 0;
    object-fit: contain;
    transform: rotate(-13deg);
    max-width: 352px;
    min-height: 344px;
    z-index: -1;
    position: sticky;
}

.purchase__icon {
 
}

.purchase__image-soobchestvo {
    margin: -63px 0 0 -123px;
    padding: 0;
}

.purchase__button {
    margin: 40px 0 0;
    padding: 0;
    width: 281px;
    height: 65px;
    border-radius: 36px;
    gap: 4px;
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
    background: rgba(255, 222, 64, 1);
    color: rgba(33, 32, 31, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin: 0;
    padding: 104px 0 0;
}

.footer__container {
    margin: 0;
    padding: 0;
}

.footer__text {
    margin: 0;
    padding: 0 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(197, 197, 197, 1);
}

.footer__link {
    margin: 0;
    padding: 0;
    color: rgba(197, 197, 197, 1);
}